.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: #000;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    border: none;
    opacity: 1;
    transition: opacity 0.5s ease-in 0s;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}