.profile__avatar {
    border-radius: 50%;
    background: #C4C4C4;
    margin: 0 27px 0 24px;
    padding: 0;
    width: 120px;
    height: 120px;
    position: relative;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        margin: 0 auto;
    }
}