.footer {
  margin: 0 auto;
  padding: 67px 200px 60px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 55px 100px 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 48px 19px 36px;
  }
}