.profile__info {
    display: grid;
    grid-template-columns: 294px 30px;
    grid-template-rows: 55px 18px;
    justify-content: start;
    align-content: center;
    margin: 0;
    padding: 0;
    column-gap: 18px;
    row-gap: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        grid-template-columns: 220px 30px;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-rows: 45px 20px;
        align-content: center;
        column-gap: 10px;
        row-gap: 3px;
    }
}